<{% block content_tag %}div{% endblock %} class="modal-content" {% block content_attrs %}{% endblock %}>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% block title %}Deploy to Saagie{% endblock %}</h4>
  </div>
  <div class="modal-body">{% block body %}{% endblock %}</div>
  {% if self.footer() %}
    <div class="modal-footer">{% block footer %}{% endblock %}</div>
  {% endif %}
</{{ self.content_tag() }}>
