{% extends 'job_form.html' %}


{% block extra_fields %}
  <div class="form-group">
    <label for="release-note">Release note</label>
    <textarea id="release-note" name="release-note"
              class="form-control"></textarea>
  </div>
  {{ input('shell-command',
           values['current']['template']|default('python {file} arg1 arg2',
                                                 True),
           verbose_name='Command to launch the job') }}
  <div class="form-group">
    <label for="language-version">Python version</label>
    {% set python_version = values['current']['options']['language_version']|default('3.5.2', True) %}
    <select id="language-version" name="language-version" class="form-control"
            style="margin: 0;">
      {% for version, name in (('3.5.2', '3.5.2 (recommended)'), ('2.7.13', '2.7.13')) %}
        <option value="{{ version }}"{% if python_version == version %} selected{% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label>Selected code cells</label>
    {% for cell in notebook.get_code_cells() %}
      <label class="row" style="display: block;">
        <input class="col-xs-1" type="checkbox" name="code-lines" value="{{ loop.index0 }}" checked />
        <pre class="col-xs-11" style="overflow-y: auto; max-height: 73px;">
          {{- cell -}}
        </pre>
      </label>
    {% endfor %}
  </div>
{% endblock %}
