{% extends 'modal_content.html' %}

{% block title %}Job run{% endblock %}

{% block body %}
  <p>Job successfully run!</p>
  {% if stderr %}
    <h4>Error output</h4>
    <pre class="text-danger" style="overflow-y: auto; max-height: 140px;">
      {{- stderr -}}
    </pre>
  {% endif %}
  {% if stdout %}
    <h4>Standard output</h4>
    <pre style="overflow-y: auto; max-height: 140px;">
      {{- stdout -}}
    </pre>
  {% endif %}
{% endblock %}

{% block footer %}
  {% set started = True %}
  {% include job_details_template_name %}
{% endblock %}
